<h1 class="title">EAT DA BURGERS!</h1>

<img src="/assets/img/burger.png" alt="picture of a hamburger" class="burgey">

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <h3 class="heading">Burgers to Eat</h3>
            <hr style="color:red;" size="6"/>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-4">
            <h3 class="heading">Burgers Eaten</h3>
            <hr style="color:red;" size="6"/>
            <ul style="text-align: left;">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">

            <h2 class="create">Create a Burger</h2>

            <form id="createBurger">

                <div class="form-group">
                    <label class="burgerName" for="burgerName">Burger Name:</label>
                    <input type="text" id="burgerName" name="burgerName">
                </div>

                <button type="submit" class="btn btn-primary btn-lg newBurger">Create a Burger</button>

            </form>
        </div>
    </div>

</div>