.burgerName {
    color: #450101;
}

.burgName {
    color:#450101;
}

.burgey {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 100px;
}

.center {
    margin: auto;
  }

.changeBurger {
    margin-top: 10px;
    color: white;
}

.create {
    color: #450101;
}

.heading {
    color: #32c704;
}

.title {
    color: #e5cb7a;
    text-align: center;
}

.newBurger {
    background-color: #e5cb7a;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}